@model MVC.ViewModels.StructureViewModel

@if (Model.Id == Guid.Empty)
{
    {
        ViewBag.Title = "新增";
    }
    <h2>新增</h2>

    <h4>新增結構。</h4>
}
else
{
    {
        ViewBag.Title = "編輯";
    }
    <h2>編輯</h2>

    <h4>編輯結構。</h4>
}

<hr />
@using (Html.BeginForm("Save", "Structure", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        @Html.Label("結構名稱", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="送出" />
        </div>
    </div>
}